h1{color: #2331ad; text-align: center;background-color: rgba(143, 28, 143, 0.582);}
#welcome {color: darkolivegreen; text-align: center;}
.home{background-color: rgb(255, 255, 255); text-align: center;}
.form{text-align: center;}
.first{background-color: rgba(52, 75, 177, 0.596);font-size: 20px;border: 10px solid rgba(2, 19, 94, 0.596);border-radius: 20px; margin: 20px 20px; padding: 10px 10px;}
.second{background-color: rgb(177, 118, 118);font-size: 20px;border: 10px dotted rgb(107, 33, 33);border-radius: 20px; margin: 20px 20px;padding: 10px 10px;}
.third{background-color: rgb(151, 158, 54);font-size: 20px;border: 10px dashed rgb(75, 80, 3);border-radius: 20px;  margin: 20px 20px;padding: 10px 10px;}
.fourth{background-color: rgb(65, 172, 101);font-size: 20px;border: 10px solid rgb(4, 94, 34);border-radius: 20px; margin: 20px 20px;padding: 10px 10px;}